@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Login</a>
            <div class="dropdown-menu fade-down m-0">
                @Html.ActionLink("Hello Admin"  + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-item dropdown">Log off</a>
            </div>

        </div>
    }
}
else
{
    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Login</a>
        <div class="dropdown-menu fade-down m-0">
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </div>
    </div>
}
